@font-face {
  font-family: "Circe-Regular";
  src: url(../fonts/Circe-Regular.woff2);
}

@font-face {
  font-family: "CirceRounded";
  src: url(../fonts/CirceRounded-Regular.woff2);
}

@font-face {
  font-family: "LifehackSans-Regular";
  src: url(../fonts/LifehackSans-Regular.woff2);
}


